<h1>@ViewBag.Trail[0]["name"]</h1>
<h3>Description</h3>
<p>@ViewBag.Trail[0]["description"]</p>
<h3>Trail Length</h3>
<p>@ViewBag.Trail[0]["length"] Miles</p>
<h3>Elevation Change</h3>
<p>@ViewBag.Trail[0]["elevation"] Feet</p>
<br>
<br>
<br>
<div id="footer">
    <p>Longtitude - @ViewBag.Trail[0]["longtitude"] N</p>
    <p>Latitude - @ViewBag.Trail[0]["latitude"] W</p>
</div>

<a href="/">Go Back</a>
